{% load django_htmx %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Holiday Orders{% endblock title %}</title>
        {% block extra_head %}{% endblock extra_head %}

        {% block extra_css %}
        {% endblock extra_css %}
        <script src="{% static 'htmx.min.js' %}" defer></script> 
    </head>
    <body>
        <header>
        </header>

        <nav>
        </nav>

        <main>
            {% block content %}
            {% endblock content %}
        </main>

        <footer>
        </footer>

        {% block extra_scripts %}
        {% endblock extra_scripts %}
    </body>
</html>
